h1, h2, h3, h4, h5, h6, a, footer, .lead {
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Playfair Display', serif;
}

ul {
  list-style: none;
}

.quote {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
}

#home {
  background: url("../img/homeSplash2.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  min-height: 700px;
}

#menu {
  background: url("../img/menuSplash.jpg") no-repeat;
  background-color: white;
  background-size: cover;
  background-attachment: fixed;
  background-position: right;
  min-height: 650px;
}

#gallery {
  background-color: #f4ce42;
}

#white-line {
    color: black;
}

#white-line:hover {
    color: dodgerblue;
}
