h1, h2, h3, h4, h5, h6, a, footer, .lead {
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Playfair Display', serif;
}

ul {
  list-style: none;
}

.quote {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
}

#home {
  background: url("../img/homeSplash.jpg") no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  min-height: 700px;


}

#menu {
  background: url("../img/menuSplash.jpg") no-repeat;
  background-color: black;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  min-height: 650px;
}

#gallery {
  background-color: #141414;
}

#white-line {
    color: black;
}

#white-line:hover {
    color: dodgerblue;
}
