body {
  /* background: #333;
  color: #fff;  */
}

/* .navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 1; } */

#home-section {
  background: url("../img/chairsfaded.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px; }
  /* #home-section .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px; }
  #home-section .home-inner {
    padding-top: 150px; }
  #home-section .card-form {
    opacity: 0.8; }
  #home-section .fa {
    color: #008ed6;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px; } */

#menu-section {
  background: url("../img/storefrontnight.jpg") no-repeat;
  /* opacity: 0.5; */
  background-color: white;
  background-size: cover;
  background-attachment: fixed;
  min-height: 650px;
}




ul {
    list-style: none;
}

#white-line {
    color: white;
}

#white-line:hover {
    color: dodgerblue;
}
