body {
  /* background: #333;
  color: #fff;  */
}

/* .navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 1; } */

#home {
  background: url("../img/chairsfaded.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  min-height: 700px;
}

#history {
    /* min-height: 700px; */
}

#menu {
  background: url("../img/storefrontnight.jpg") no-repeat;
  /* opacity: 0.5; */
  background-color: white;
  background-size: cover;
  background-attachment: fixed;
  background-position: right;
  min-height: 650px;
}




ul {
    list-style: none;
}

#white-line {
    color: black;
}

#white-line:hover {
    color: dodgerblue;
}

h1, h2, h3, h4, h5, h6, .lead, a {
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Playfair Display', serif;
}
